numpy
flax
jaxlib
jax[cuda]
dm-haiku
gymnasium
gymnasium[box2d]
gymnasium[mujoco]
gymnasium-robotics
optax
distrax
pandas
tensorboardX
cpprb
dm_control
h5py
git+https://github.com/rlworkgroup/metaworld.git@master#egg=metaworld
recordtype
robosuite
rliable